<!DOCTYPE html>
<html ng-app="modelTest">
<head>
    <meta charset="utf-8">
    <title>Bootstrap an Angular Module</title>
    <style type="text/css">
        input.ng-valid{
            border: 4px solid limegreen;
        }
        input.ng-invalid{
            border: 4px solid red;
        }
        input.ng-pristine{
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <main ng-controller="UsersController as uCtrl">
        <form role="form" novalidate name="userForm" ng-submit="uCtrl.addUser()">
            <div>
                <label for="first_name">First Name</label>
                <input type="text" id="first_name" maxlength="50" ng-model="uCtrl.newUser.firstName" required>
            </div>
            
            <div>
                <label for="last_name">Last Name</label>
                <input type="text" id="last_name" maxlength="100"  ng-model="uCtrl.newUser.lastName" required>
            </div>

            <div>
                <label for="email">eMail</label>
                <input type="email" id="email" ng-model="uCtrl.newUser.email" required>
            </div>
            
            <div>
                <label for="date">Date of Birth</label>
                <input type="date" id="date" minlength="6" ng-model="uCtrl.newUser.dob" required>
            </div>
            
            <div>
                <label for="username">GitHub username</label>
                <input type="username" id="username" ng-model="uCtrl.newUser.username" required>
            </div>
            <button type="submit">Add user </button>
        </form>

        <div class="well" ng-if="userForm.$valid">
            <h2> Welcome </h2>
            <p>
                Hello {{ uCtrl.newUser.firstName }}
            </p>
        </div>

        <div>
            <li ng-repeat="user in uCtrl.users">{{user.firstName}} {{user.lastName}} <li>
        </div>
    </main>

    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/modelTest.js"></script>
</body>

</html>