<!DOCTYPE html>
<html ng-app="templateTest">
<head>
    <meta charset="utf-8">
    <title>Bootstrap an Angular Module</title>
    <style type="text/css">
    	 li:first-child {
		     font-style: italic;
		 }
		 li:last-child {
		     font-weight: bold;
		 }
    </style>
</head>
<body>
<ul>
    <li ng-repeat="num in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]" ng-if="num % 3 !== 0">
        {{ num }}
    </li>
</ul>
<ul>
    <li ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F']">{{ letter | uppercase }}</li>
    <li ng-repeat="letter in ['A', 'B', 'C', 'D', 'E', 'F']">{{ letter | lowercase }}</li>
</ul>
    <script type="text/javascript" src="/js/angular.min.js"></script>
    <script type="text/javascript" src="/js/templateTest.js"></script>
</body>

</html>